$mainGray: rgb(110, 110, 110);
$lightGray: rgb(230, 230, 230);
$darkBlue: rgb(54, 59, 89);

$white: rgb(255, 255, 255);
$black: rgb(32, 32, 33);
$yellow: rgb(237, 174, 73);

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright|Open+Sans|Lato);

// Font Variables
$lato: 'Lato', sans-serif;
