@import "./_constants.scss";

.data-panel {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $darkBlue;
  color: $white;
  text-transform: uppercase;
  min-width: 392px;

  &__heading {
    color: $yellow;
    font-size: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 400px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 3vh;
  }

  &__input-field {
    background-color: $darkBlue;
    border: none;
    border-bottom: 1px solid $yellow;
    color: $white;
    margin: 1.6vh;
    max-height: 40vh;
    font-family: $lato;

    &:focus {
      outline: 0;
      border-bottom: 1px solid $white;
    }
  }

  &__input-label {
    display: flex;
    align-items: center;

    &--required {
      color: $yellow;
      margin: 2px;
    }

    &--optional {
      text-transform: lowercase;
    }
  }

  &__button-wrapper {
    padding: 6vh;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    border: 1px solid $darkBlue;
    background-color: $lightGray;
    color: $darkBlue;
    border-radius: 4px;
    padding: 8px 24px;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      color: $mainGray;
    }

    &:focus {
      outline: 0;
    }

    &:active {
      background-color: $yellow;
    }

    &--disabled {
      background-color: $mainGray;
      color: $darkBlue;

      &:hover {
        color: $darkBlue;
      }

      &:active {
        background-color: $mainGray;
      }
    }

    &--add-row {
      border: none;
      background-color: $darkBlue;
      color: $yellow;
      padding: 0 12px;
      font-weight: 100;
      font-size: 24px;

      &:hover {
        font-weight: 600;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
