.output-panel {
  flex: 2 1 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $lightGray;
}

.page {
  background-color: $white;
  height: 90vh;
  width: 60vh;
  box-sizing: border-box;
  padding: 48px;
  border-radius: 4px;
  box-shadow: 0 0 12px $mainGray;
  font-size: 1.6vh;

  &__sender,
  &__date {
    text-align: right;
  }

  &__receiver,
  &__content {
    text-align: left;
  }

  &__courtsey,
  &__sender-name,
  &__digi-signature,
  &__additions {
    text-align: left;
    padding-top: 4vh;
  }

  &__title {
    padding: 3vh;
  }
}
